$header-height: 50px;

.header {
  min-height: $header-height;
  margin-bottom: 10px;
}

.links-list {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 22px;
    padding: 0 10px;
  }
}